@page "/"

@*    <MudItem xs="12" sm="12" md="3" lg="3" xl="3" xxl="3">
        <MudTextField @bind-Value="gameName" Label="Host name" Variant="Variant.Text"></MudTextField>
        <MudButton OnClick="()=>connection(gameName)" Variant="Variant.Filled" Color="Color.Primary">Host</MudButton>
    </MudItem>*@
<MudPaper Elevation="5" MaxWidth="800px" Style="margin-left: auto; margin-right: auto;">
        <div class="mud-card-content">
            <MudTable T="string" Items="games" Height="60vh" FixedHeader Dense Striped Hover="true" Breakpoint="Breakpoint.Xs" Elevation="0"
                Filter="new Func<string,bool>(lobbyFilter)" OnRowClick="rowClickEvent">
                <ToolBarContent>
                    <MudFab OnClick="refreshLobby" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Refresh" Size="Size.Medium" />
                    <MudSpacer />
                    <MudTextField @bind-Value="searchString" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                </ToolBarContent>
                <HeaderContent>
                    <MudTh>Player Name</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="Player Name">@context</MudTd>
                </RowTemplate>
            </MudTable>
        </div>
    <MudButton OnClick="()=>createGame()" Style="display: flex; margin-left: auto; margin-right: auto; width: 33%;" Variant="Variant.Filled" Color="Color.Primary">Create game</MudButton>
</MudPaper>

